---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';

---

<Layout title="Portafolio David.">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">
		<img class="rounded-full w-12 h-12 mb-4" src="https://avatars.githubusercontent.com/u/72123012?v=4" alt="david photo">
		<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
			Hey, soy David Serrano
			 <a href="https://www.linkedin.com/in/david-serrano-gomez-b730737b" 
				target="_blank" 
				rel="noopener" 
				class="flex justify-center items-center"><Badge>Disponible para trabajar</Badge></a>
		</h1>
		<h2 class="text-2xl  text-wrap">
			<span class="text-yellow-200/90">Desarrollador Web</span> mimimi con pasión por crear experiencias digitales eficientes y atractivas. <span class="text-red-100/90">De Tarragona, España. </span><span class="opacity-75">Especializado en crear apliaciones únicas.</span> 

		</h2>
		<ul></ul>
	</section>
	</main>

</Layout>

